<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.springboot01login.Mapper.CourseImageMapper">
    <resultMap id="BaseResultMap" type="com.zty.springboot01login.Pojo.CourseImage">

        <!-- 主键id，自增 -->
        <id column="id" property="id" jdbcType="INTEGER"/>

        <!-- image id 即实际的镜像id -->
        <result column="img_id" property="imageId" jdbcType="VARCHAR"/>

        <!-- 镜像名称 -->
        <result column="image_name" property="imageName" jdbcType="VARCHAR"/>

        <!-- 镜像版本号 -->
        <result column="version" property="version" jdbcType="VARCHAR"/>

        <!-- 镜像上传路径 -->
        <result column="path" property="path" jdbcType="VARCHAR"/>

        <!-- 创建时间 -->
        <result column="create_time" property="createTime" jdbcType="CHAR"/>

        <!-- 创建人 -->
        <result column="creato_id" property="creatoId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, img_id, image_name, version, path, create_time, creato_id
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from tb_course_image
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_course_image
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert">
    insert into tb_course_image (id, img_id, image_name,
      version, path, create_time,
      creato_id)
    values (#{id,jdbcType=INTEGER}, #{imgId,jdbcType=INTEGER}, #{imageName,jdbcType=VARCHAR},
      #{version,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{createTime,jdbcType=CHAR},
      #{creatoId,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective">
        insert into tb_course_image
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="imgId != null">
                img_id,
            </if>
            <if test="imageName != null">
                image_name,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="path != null">
                path,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="creatoId != null">
                creato_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="imgId != null">
                #{imgId,jdbcType=INTEGER},
            </if>
            <if test="imageName != null">
                #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=CHAR},
            </if>
            <if test="creatoId != null">
                #{creatoId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective">
        update tb_course_image
        <set>
            <if test="imgId != null">
                img_id = #{imgId,jdbcType=INTEGER},
            </if>
            <if test="imageName != null">
                image_name = #{imageName,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                path = #{path,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=CHAR},
            </if>
            <if test="creatoId != null">
                creato_id = #{creatoId,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey">
    update tb_course_image
    set img_id = #{imgId,jdbcType=INTEGER},
      image_name = #{imageName,jdbcType=VARCHAR},
      version = #{version,jdbcType=VARCHAR},
      path = #{path,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=CHAR},
      creato_id = #{creatoId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2021-01-19 11:34:40 ### -->
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"></include>
        from tb_course_image
    </select>

<!--    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">-->
<!--        select-->
<!--        <include refid="Base_Column_List"/>-->
<!--        from tb_course_image-->
<!--        where id = #{id,jdbcType=INTEGER}-->
<!--    </select>-->
    <!-- Your codes goes here!!! -->

</mapper>