<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zty.springboot01login.Mapper.CourseEnvMapper" >
  <resultMap id="BaseResultMap" type="com.zty.springboot01login.Pojo.CourseEnv" >
    <!-- 环境id，主键 -->
    <id column="env_id" property="envId" jdbcType="INTEGER" />

    <!-- 环境名称 -->
    <result column="env_name" property="envName" jdbcType="VARCHAR" />

    <!-- 环境描述 -->
    <result column="remark" property="remark" jdbcType="VARCHAR" />

    <!-- 节点名称，只能输入小写字母和数字 -->
    <result column="node_name" property="nodeName" jdbcType="VARCHAR" />

    <!-- cpu大小 -->
    <result column="cpu" property="cpu" jdbcType="INTEGER" />

    <!-- 内存大小，单位为GB -->
    <result column="memsize" property="memsize" jdbcType="INTEGER" />

    <!-- 创建时间 -->
    <result column="create_time" property="createTime" jdbcType="CHAR" />

    <!-- 创建人 -->
    <result column="creator_id" property="creatorId" jdbcType="VARCHAR" />

    <!-- 镜像id，外键 -->
    <result column="image_id" property="imageId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    env_id, env_name, remark, node_name, cpu, memsize, create_time, creator_id, image_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from tb_course_env
    where env_id = #{envId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_course_env
    where env_id = #{envId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    insert into tb_course_env (env_id, env_name, remark,
      node_name, cpu, memsize,
      create_time, creator_id, image_id
      )
    values (#{envId,jdbcType=INTEGER}, #{envName,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
      #{nodeName,jdbcType=VARCHAR}, #{cpu,jdbcType=INTEGER}, #{memsize,jdbcType=INTEGER},
      #{createTime,jdbcType=CHAR}, #{creatorId,jdbcType=VARCHAR}, #{imageId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" >
    insert into tb_course_env
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="envId != null" >
        env_id,
      </if>
      <if test="envName != null" >
        env_name,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="nodeName != null" >
        node_name,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="memsize != null" >
        memsize,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="creatorId != null" >
        creator_id,
      </if>
      <if test="imageId != null" >
        image_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="envId != null" >
        #{envId,jdbcType=INTEGER},
      </if>
      <if test="envName != null" >
        #{envName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=INTEGER},
      </if>
      <if test="memsize != null" >
        #{memsize,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=CHAR},
      </if>
      <if test="creatorId != null" >
        #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        #{imageId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" >
    update tb_course_env
    <set >
      <if test="envName != null" >
        env_name = #{envName,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        node_name = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=INTEGER},
      </if>
      <if test="memsize != null" >
        memsize = #{memsize,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=CHAR},
      </if>
      <if test="creatorId != null" >
        creator_id = #{creatorId,jdbcType=VARCHAR},
      </if>
      <if test="imageId != null" >
        image_id = #{imageId,jdbcType=VARCHAR},
      </if>
    </set>
    where env_id = #{envId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" >
    update tb_course_env
    set env_name = #{envName,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      node_name = #{nodeName,jdbcType=VARCHAR},
      cpu = #{cpu,jdbcType=INTEGER},
      memsize = #{memsize,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=CHAR},
      creator_id = #{creatorId,jdbcType=VARCHAR},
      image_id = #{imageId,jdbcType=VARCHAR}
    where env_id = #{envId,jdbcType=INTEGER}
  </update>

  <!-- ### 以上代码由MBG + CommentPlugin自动生成, 生成时间: 2021-01-19 11:34:40 ### -->



  <!-- Your codes goes here!!! -->

</mapper>